.bannerContainer{
    background-image: url(../../Photos/close-up-image-programer-working-his-desk-office.jpg);
    position: relative;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  
    
 
  
  }

  .bannerContainer::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #f5f5f547;
      
  }
  .content{
      position:relative;
  }

  
  @media (max-width:1199px) {
    

      
  }
  /* .bannerImage{
    position: absolute;
  
   
    right:0 ;
    bottom: 0;
   
} */
/* .content{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
} */
